.title-form {
  margin-top: 25px;
  text-align: center;
}

.title,
.subtitle {
  color: white;
  font-size: 43px;
  text-transform: uppercase;
  font-weight: bold;
}

.subtitle {
  position: absolute;
  left: 1009px;
  top: 69px;
  font-size: 23px;
  margin-bottom: 12px;
}

.Main {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 82.67%, rgba(0, 0, 0, 0.2) 100%),
    url("../../img/BackgroundGroup.png");
  mix-blend-mode: lighten;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  height: 100vh;

  
}